<div id="tp-top-header" class="tp-top-header"><!-- tp-top-header -->
  <div class="container">
    <div class="row">
      <div class="col-md-12  tp-navbar-text">
        <ul>
          <!-- tp-navbar-text -->
          <li>Hours: 8am-6pm PST Monday-Friday </li>
          <li><a href="#" class="navbar-link"><img src="images/flag1.png" alt=""></a></li>
          <li><a href="#" class="navbar-link"><img src="images/flag2.png" alt=""></a></li>
          <li><a href="#" class="navbar-link"><img src="images/flag3.png" alt=""></a></li>
          <li><a href="#" class="navbar-link"><img src="images/flag4.png" alt=""></a></li>
        </ul>
        <!-- /.tp-navbar-text --> 
      </div>
    </div>
    <div class="tp-header"><!-- tp-header -->
      <div class="row">
        <div class="col-md-2">
          <div class="logo"><!-- logo --> 
            <a href="index.html"><img src="images/Welding--Service.png" alt=""></a> </div>
          <!-- /.logo --> 
        </div>
        <div class="col-md-10 tp-header-ct">
          <ul>
            <li class="call">+1 959 603 6035 (585-ORDER) </li>
            <li> <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-search"></i> </a>
              <div class="collapse search-open" id="collapseExample">
                <div class="tp-well">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn tp-btn-primary" type="button">Go!</button>
                    </span> </div>
                  <!-- /input-group --> 
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.tp-header -->
    <div class="tp-nav">
      <nav class="navbar navbar-default">
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home </a></li>
              <li><a href="about-us.html">About us</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="service.html">Service</a></li>
                  <li><a href="service-details.html">Service Single</a></li>
                  <li><a href="service-sidebar.html">Service Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="project-details.html">Project Detail</a></li>
                  <li><a href="project-detail-two.html">Projects With Sidebar</a></li>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog-single.html">Blog Details</a></li>
                </ul>
              </li>
              <li><a href="contact-us.html">Contact us</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="team.html">Team Page</a></li>
                  <li><a href="request-quote.html">Request Quote Form</a></li>
                  <li><a href="career.html">Career</a></li>
                  <li><a href="404.html">404 error</a></li>
                  <li><a href="st-testimonial.html">Testimonials</a></li>
                  <li><a href="st-alert.html">Shortcode  Alert</a></li>
                  <li><a href="st-tables.html">Shortcode  Tables</a></li>
                  <li><a href="st-column.html">Shortcode Columns</a></li>
                  <li><a href="st-list-style.html">Shortcode List style</a></li>
                  <li><a href="st-tab.html">Shortcode Tabs </a></li>
                  <li><a href="st-accordion.html">Shortcode Accordions </a></li>
                  <li><a href="customer-service.html">Customer Service</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse --> 
        </div>
        <!-- /.container-fluid --> 
      </nav>
    </div>
  </div>
</div>
<!-- /.tp-top-header -->