{# default layout skeleton #}

{% include "bricks/header-doc" %}

<body>


	{# Google Tag Manager (noscript) #}
	
	{# End Google Tag Manager (noscript) #}


	{# {% include "bricks/header-page" %} #}

    <main id="content">
        {% block content %}
        {% endblock %}
    </main>

    
    {# {% include "bricks/footer-content" %} #}

    {# {% include "bricks/footer-scripts" %} #}

</body>
</html>
