{# default layout skeleton #}

{% include "bricks/header-doc" %}

<body>
    <header>
        {% include "bricks/header-content" %}
    </header>


	{# Google Tag Manager (noscript) #}
	
	{# End Google Tag Manager (noscript) #}


	{# {% include "bricks/header-page" %} #}

    <main id="content">
        {% block content %}
        {% endblock %}
    </main>

    
    <footer>
    {% include "bricks/footer-content" %}
    </footer>

    {% include "bricks/footer-scripts" %}

</body>
</html>
